<p id="notice"><%= notice %></p>

<h1>Tweets</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>tweet_id</th>
      <th>Zombie_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>

      <td id="tweets">
        <%= render tweet %>
      </td>

    <% end %>
  </tbody>
</table>

<%= link_to 'New Tweet', new_zombie_tweet_path(@zombie) %>
